1/KeyValueBase/KeyValueBaseClient/Service References/KeyValueBaseReference/KeyValueBaseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeyValueBase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeyValueBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AndPredicateOfValueListImpl5eNmv5yi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="AndPredicateOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/KeyValueBase" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ValueListImpl" Namespace="http://schemas.datacontract.org/2004/07/KeyValueBase" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Predicate1" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Predicate2" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AndPredicateOfValueListImpl5eNmv5yi" nillable="true" type="tns:AndPredicateOfValueListImpl5eNmv5yi" />
  <xs:complexType name="OrPredicateOfValueListImpl5eNmv5yi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OrPredicateOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/KeyValueBase" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ValueListImpl" Namespace="http://schemas.datacontract.org/2004/07/KeyValueBase" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Predicate1" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Predicate2" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrPredicateOfValueListImpl5eNmv5yi" nillable="true" type="tns:OrPredicateOfValueListImpl5eNmv5yi" />
  <xs:complexType name="NotPredicateOfValueListImpl5eNmv5yi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="NotPredicateOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/KeyValueBase" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ValueListImpl" Namespace="http://schemas.datacontract.org/2004/07/KeyValueBase" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Predicate" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotPredicateOfValueListImpl5eNmv5yi" nillable="true" type="tns:NotPredicateOfValueListImpl5eNmv5yi" />
  <xs:complexType name="ContainsPredicate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Element" nillable="true" type="tns:ValueImpl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContainsPredicate" nillable="true" type="tns:ContainsPredicate" />
  <xs:complexType name="ValueImpl">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueImpl" nillable="true" type="tns:ValueImpl" />
  <xs:complexType name="MinLengthPredicate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Length" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinLengthPredicate" nillable="true" type="tns:MinLengthPredicate" />
  <xs:complexType name="MaxLengthPredicate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Length" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaxLengthPredicate" nillable="true" type="tns:MaxLengthPredicate" />
  <xs:complexType name="KeyImpl">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyImpl" nillable="true" type="tns:KeyImpl" />
  <xs:complexType name="ValueListImpl">
    <xs:sequence>
      <xs:element minOccurs="0" name="List" nillable="true" type="tns:ArrayOfValueImpl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueListImpl" nillable="true" type="tns:ValueListImpl" />
  <xs:complexType name="ArrayOfValueImpl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueImpl" nillable="true" type="tns:ValueImpl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueImpl" nillable="true" type="tns:ArrayOfValueImpl" />
  <xs:complexType name="ArrayOfValueListImpl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueListImpl" nillable="true" type="tns:ValueListImpl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueListImpl" nillable="true" type="tns:ArrayOfValueListImpl" />
</xs:schema>