1/KeyValueBase/KeyValueBaseClient/Service References/KeyValueBaseReference/KeyValueBaseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeyValueBase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeyValueBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KeyImpl">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyImpl" nillable="true" type="tns:KeyImpl" />
  <xs:complexType name="ValueListImpl">
    <xs:sequence>
      <xs:element minOccurs="0" name="List" nillable="true" type="tns:ArrayOfValueImpl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueListImpl" nillable="true" type="tns:ValueListImpl" />
  <xs:complexType name="ArrayOfValueImpl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueImpl" nillable="true" type="tns:ValueImpl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueImpl" nillable="true" type="tns:ArrayOfValueImpl" />
  <xs:complexType name="ValueImpl">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueImpl" nillable="true" type="tns:ValueImpl" />
  <xs:complexType name="ArrayOfValueListImpl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueListImpl" nillable="true" type="tns:ValueListImpl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueListImpl" nillable="true" type="tns:ArrayOfValueListImpl" />
</xs:schema>