1/KeyValueBase/KeyValueBaseClient/Service References/KeyValueBaseReference/KeyValueBaseService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:33376/KeyValueBaseService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KeyValueBase" />
  <xs:import schemaLocation="http://localhost:33376/KeyValueBaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfKeyImplValueListImpl34Drv9KL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfKeyImplValueListImpl34Drv9KL" type="tns:KeyValuePairOfKeyImplValueListImpl34Drv9KL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfKeyImplValueListImpl34Drv9KL" nillable="true" type="tns:ArrayOfKeyValuePairOfKeyImplValueListImpl34Drv9KL" />
  <xs:complexType name="KeyValuePairOfKeyImplValueListImpl34Drv9KL">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="KeyImpl" Namespace="http://schemas.datacontract.org/2004/07/KeyValueBase" />
          <GenericParameter Name="ValueListImpl" Namespace="http://schemas.datacontract.org/2004/07/KeyValueBase" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KeyValueBase" name="key" nillable="true" type="q1:KeyImpl" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KeyValueBase" name="value" nillable="true" type="q2:ValueListImpl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfKeyImplValueListImpl34Drv9KL" nillable="true" type="tns:KeyValuePairOfKeyImplValueListImpl34Drv9KL" />
</xs:schema>