1/KeyValueBase/KeyValueBaseClient/Service References/KeyValueBaseReference/KeyValueBaseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeyValueBase.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeyValueBase.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceInitializingFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceInitializingFault" nillable="true" type="tns:ServiceInitializingFault" />
  <xs:complexType name="ServiceAlreadyInitializedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAlreadyInitializedFault" nillable="true" type="tns:ServiceAlreadyInitializedFault" />
  <xs:complexType name="ServiceNotInitializedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceNotInitializedFault" nillable="true" type="tns:ServiceNotInitializedFault" />
</xs:schema>